<!doctype html>
<html>
{% extends "base.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="static/sign-up-style.css">

<script src="https://kit.fontawesome.com/511589a382.js" crossorigin="anonymous"></script>
<title>Sign Up | Ponder</title>
{% endblock %}
{% block content %}
  <body>
    <!-------NavBar ----->
    <div class="container">
      <nav class="navbar navbar-expand-md navbar-light bg-white fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{url_for('home')}}">
          <img src="/static/android-chrome-192x192.png" alt="" width="50" height="44" class="d-inline-block align-text-top">Ponder
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
              <li class="nav-item {% if request.path == url_for('home') %}active{% endif %}">
                <a class="nav-link" aria-current="page" href="{{url_for('home')}}">Home</a>
              </li>
              <li class="nav-item {% if request.path == url_for('log_in') %}active{% endif %}">
                <a class="nav-link" href="{{url_for('log_in')}}">Log in</a>
              </li>
              <li class="nav-item {% if request.path == url_for('register') %}active{% endif %}">
                <a class="nav-link" href="{{url_for('register')}}">Register</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <!---  Main Content ---->
    {% if googlep %}
    <script>
    const Toast = Swal.mixin({
  toast: true,
  position: 'top-end',
  showConfirmButton: false,
  timer: 3000,
  timerProgressBar: true,
  didOpen: (toast) => {
    toast.addEventListener('mouseenter', Swal.stopTimer)
    toast.addEventListener('mouseleave', Swal.resumeTimer)
  }
})
Toast.fire({
  icon: 'info',
  title: 'There was a problem with your Google Authentication. Please try and register through the default channels.'
})
{% endif %}
</script>
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img src="/static/undraw_remotely_2j6y.svg" alt="Image" class="img-fluid">
          </div>
          <div class="col-md-6 contents">
            <div class="row justify-content-center">
              <div class="col-md-8">
                <div class="mb-4">
                  <h3>Sign Up</h3>
                  <p class="mb-4">Register to access your quotes library.</p>
                </div>
                <form action="{{url_for('register')}}" method="post">
                  <div class="form-group last mb-4">
                    <input type="email" id="email" name="email" class="form-control" placeholder="E-mail address">
                  </div>
                  <div class="form-group first">
                    {{form.username(class_ = 'form-control',id_='username')}}
                  </div>
                  <div class="form-group last mb-4">
                    {{form.password(class_ = 'form-control',id_='password',placeholder='Password')}}
                  </div>
                  <input type="submit" value="Sign Up" class="btn btn-block btn-outline-primary" id="sign-up-button">
                  <span class="d-block text-left my-4 text-muted">&mdash; or sign up with &mdash;</span>
                  <div class="social-login">
                    <a href="{{url_for('my_blueprint.coming_soon')}}" class="twitter">
                    <span> <i class="fab fa-twitter"></i></span>
                    </a>
                    <a  href="{{url_for('login_with_google')}}" id="google-log-in" class="google">
                    <span class="fa fa-google mr-3"></span>
                    </a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="static/popper.min.js"></script>
    <script src="static/bootstrap.min.js"></script>
    <script src="static/main.js"></script>
  </body>
{% endblock %}
{% block footer %}
  {{ super() }}

 {% endblock %}
</html>
