
*{
  margin: 0;
  padding 0;
  box-sizing: border-box;
}

#quote-block{
    margin-top: 100px;
    margin-left: 50px;
}

#main-navbar{
 font-size: 25px;
}
.d-inline-block align-text-top{
  size:45px;
}
#ponder-logo{
  position: relative;
  left: 70px;
  top: 40px;

}

.color-box {
   border-style: solid;
   border-radius: 22px;
   padding: 7px;
  color:  #9575DE;
  background-color: white; /* Initial background color */
  transition: background-color 0.5s; /* Add a smooth transition effect */
  font-size: 25px;
}

.color-box:hover {
  background-color: white; /* Change to white on hover */
}
.devicon-facebook-plain{
  position: relative;
  left: 5px;
}
.devicon-linkedin-plain{
  position:relative;
  left:3px;
}














