body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  }
}
button{
    padding-left: 30px;
    }
.btn-yes {
  background-color: #dc3545;
  color: #fff;
}
.btn-no {
  background-color: #6c757d;
  color: #fff;
#main-text:
  font-size: 30px;
}
.btn-group{
 margin-top: 20px;
 }
p {
   margin-top: 20px;
   }