#button {
  width: 200px;
  font-size: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  background-color: #6E07F3;
  border-color: #6E07F3;;
  border-radius: 22px;
  cursor: pointer;
}

#button:hover {
  color: #6E07F3;
  background-color: #fff;
}
body
{
display: grid;
place-items:center;
height:100vh;
margin:0;
font-family:'Poppins',sans-serif;
margin-top: 200px;
margin-left:750px;
}