#button {
  width: 200px;
  font-size: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  background-color: #6E07F3;
  border-color: #6E07F3;;
  border-radius: 22px;
  cursor: pointer;
}

#button:hover {
  color: #6E07F3;
  background-color: #fff;
}
#main-container{
  margin-top: 400px;

}
.input-form{
  align-text: center;

}