body {
	font-family: 'Poppins', sans-serif;
}
body ::selection {
  background: #6E07F3;
  color: #fff;
}
#quote-div{
  display: block;
  text-align: center;
  justify-items: center;
  align-items: center;
}
.form-group {
  display: block;
  align-items: center;
  justify-items: center;
  text-align: center;
  margin-top: 250px;
}
#submit{
 width: 200px;
 border-radius: 22px;
 background-color: #fff;
 color: #6E07F3;
 border-color: #6E07F3;
}
#submit:hover{
    background-color: #6E07F3;
    color: #fff;
}
#ponder-text {
  white-space: nowrap;
  padding: 110px;
  text-align: center;
}

.control-label {
  font-size: 20px;
  font-weight: 600;
  color: #6E07F3;
  padding: 40px;
}


#quote-text{
  font-size: 20px;
  font-weight: 600;
  padding: 40px;
  }

@media(max-width: 1068px)
{
   #ponder-text{
      position: relative;
      right: 95px;
    }
}



/* Footer */


footer{
  margin-top: 300px;
  background-color: #f5f5f5;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a, a:hover {
    text-decoration: none !important; }

.content {
  height: 70vh; }

.footer-16371 {
  padding: 7rem 0;
  font-family: "Poppins", sans-serif; }
  .footer-16371 .footer-site-logo {
    text-align: center;
    font-size: 2rem;
    font-weight: 900; }
    .footer-16371 .footer-site-logo a {
      color: #4200ff; }
  .footer-16371 .nav-links {
    padding: 0;
    margin: 0; }
    .footer-16371 .nav-links li {
      display: inline-block; }
      .footer-16371 .nav-links li a {
        padding: 10px;
        color: #000; }
        .footer-16371 .nav-links li a:hover {
          color: #4200ff; }
  .footer-16371 .social h3 {
    font-weight: bold;
    font-size: 18px;
    color: #000; }
  .footer-16371 .social ul li {
    display: inline-block; }
    .footer-16371 .social ul li a {
      display: inline-block;
      padding: 10px; }
    .footer-16371 .social ul li.in a {
      color: #df588a; }
    .footer-16371 .social ul li.tw a {
      color: #15b8ff; }
    .footer-16371 .social ul li.fb a {
      color: #3742d0; }
    .footer-16371 .social ul li.dr a {
      color: #fa38c1; }
    .footer-16371 .social ul li.pin a {
      color: #dd4d5a; }
  .footer-16371 .copyright {
    color: #999999; }
