body {
font-family: 'Poppins', sans-serif;
}
body ::selection {
  background: #6E07F3;
  color: #fff;
}

#quote-div{
  text-align: center;
  padding: 50px;
  border-style: solid;
  border-width: thin;
  border-radius: 22px;
  background-color: #FFFAD7;

}
.small-line{
  border-style: solid none none none;
  border-width: thin;

}






.stretch {
  min-height: 200px;
  height: auto;
  overflow-y: auto;
}

input{
   width: 800px;
   border-color: #6E07F3;
   border-style: solid;
   border-radius: 10px;
   text-align: center;
}
label{
  font-size: 1.1rem;

}

#text-editor-div{
   margin-top: 100px;
   border-style: solid;
   border-width: thin;
   border-color:#6E07F3;
   background-color: #fffff;
   width: 90vmin;
   padding: 50px 30px;
   border-radius: 10px;
   box shadow: 0 25px 50px rgba(7,20,35,0.2);
}
.options{
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   gap: 15px;
}
button{
  display: grid;
  place-items: center;
  border-radius: 3px;
  border: none;
  background-color: #FFFFFF;
  outline: none;
  color: #020929;
}
select{
  padding: 7px;
  border: 1px solid #020929;
  border-radius: 3px;

}
.options label,
.options select{
  font-family: "Poppins",sans-serif;
}
.input-wrapper{
  display: flex;
  align-items: center;
  gap: 8px;
}
input[type="color"]{
  --webkit-appearance : none;
  --moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 40px;
  height: 28px;
  border: none;
  cursor: pointer;

}
input [type="color"]::-webkit-color-swatch{
  border-radius: 15px;
  box shadow: 0 0 0 2px #FFFFFF, 0 0 0 3px #020929;
}
input [type="color"]::-moz-color-swatch{
  border-radius: 15px;
  box shadow: 0 0 0 2px #FFFFFF, 0 0 0 3px #020929;
}
#text-input{
 margin-top: 10px;
 border: 1px solid #dddddd;
 padding: 20px;
 height: 50vh;
}
#cke_1_toolbox{
  display: none;

}
#button-cont{
   padding: 50px;

}
#submit-button {
	color: #6E07F3;
	border-color: #6E07F3;
	background-color: #f8f8f8;
	border-radius: 22px;
}

#submit-button:hover{
	background-color: #6E07F3;
	color: #fff;
}
.swal2-confirm swal2-styled{
   position: relative;
   right: 20px;


}

blockquote{
  font-weight: 600;
  margin-top: 10px;
}

#ponder-quote{
  font-weight: 600;
  margin-top: 10px;

}
.swal-height {
    height: 600px;
    width: 600px;
}

@media (max-width: 915px) {
  .swal2-modal {
    margin-left: -170px;
    width: 70%;
    height: 70%;
  }
  #ponder-logo{
    display: none;
  }
}

#ponder-logo{
 position: relative;
 left: 60px;
}
.card-body{
 border-radius: 22px;
}
#post-container{
  margin-bottom: 100px;
}
/* Footer */
#ponder-img{
  position: relative;
  bottom: 5px;
}

footer{
  margin-top: 300px;
  background-color: #f5f5f5;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a, a:hover {
    text-decoration: none !important; }

.content {
  height: 70vh; }

.footer-16371 {
  padding: 7rem 0;
  font-family: "Poppins", sans-serif; }
  .footer-16371 .footer-site-logo {
    text-align: center;
    font-size: 2rem;
    font-weight: 900; }
    .footer-16371 .footer-site-logo a {
      color: #4200ff; }
  .footer-16371 .nav-links {
    padding: 0;
    margin: 0; }
    .footer-16371 .nav-links li {
      display: inline-block; }
      .footer-16371 .nav-links li a {
        padding: 10px;
        color: #000; }
        .footer-16371 .nav-links li a:hover {
          color: #4200ff; }
  .footer-16371 .social h3 {
    font-weight: bold;
    font-size: 18px;
    color: #000; }
  .footer-16371 .social ul li {
    display: inline-block; }
    .footer-16371 .social ul li a {
      display: inline-block;
      padding: 10px; }
    .footer-16371 .social ul li.in a {
      color: #df588a; }
    .footer-16371 .social ul li.tw a {
      color: #15b8ff; }
    .footer-16371 .social ul li.fb a {
      color: #3742d0; }
    .footer-16371 .social ul li.dr a {
      color: #fa38c1; }
    .footer-16371 .social ul li.pin a {
      color: #dd4d5a; }
  .footer-16371 .copyright {
    color: #999999; }
