footer{
 font-family: 'Poppins', sans-serif
}
.footer{
 background-color: #16213E;
 color: #fff;
 width: 100%;
 height: 400px;
 display: flex;
 justify-content: center;
 align-items: center;
 text-align: center;
}
.text-muted{
 font-size: 30px;
 position: relative;
 top: 20px;
 left: 25px;
}
.logo-container{
 height: 10%;
 width: 50%;
 border-radius: 80px;
 position: relative;
 top: 100px;
 left: 160px;
 background-color: #fff;
 display: flex;
 justify-content: center;
 text-align: center;
 align-items: center;
}
#bootstrap_logo{
 position: relative;
 left: -10px;
}
#logo-text{
 color: black;
 position: relative;
 left: -20px;
}
.icons-part a,
.icons-part span{
 position: relative;
 top: 120px;
 margin-right: 10px;
 margin-top: 10px;
}
.icons-part{
 display: flex;
 justify-content: center;
 text-align: center;
 align-items: center;
 position: relative;
 left: 10px;
}