body{
    display: grid;
    place-items:center;
    height:100vh;
    margin:0;
    font-family:'Poppins', sans-serif;
}

.container {
  text-align: center;
  margin-top: 50px;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

p {
  font-size: 24px;
  margin-bottom: 30px;
}

button {
  width: 200px;
  font-size: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  background-color: #6E07F3;
  border-color: #6E07F3;;
  border-radius: 22px;
  cursor: pointer;
}

button:hover {
  color: #6E07F3;
  background-color: #fff;
}
