body{
font-family: 'Poppins', sans-serif;
}

.big-heading{
font-family: 'Poppins';
font-size: 4rem;
line-height: 1.5;
font-weight: 900;
margin-top: 250px;
}
#get-started {
  color: #6E07F3;
  border-color: #6E07F3;
  background-color: #f8f8f8;
  margin-top : 340px;
  margin-left: 250px;
}


#get-started:hover {
  background-color: #6E07F3;
  color: #fff;
}
    /* Default styles for all devices */

.container {
  margin-top: 20px;
}

@media (max-width: 767px) {
  .big-heading {
    font-size: 58px;
  }

  .col-md-6 {
    width: 100%;
    margin-bottom: 20px; /* Add margin to create space between heading and button */
  }

  #get-started {
    margin-top: 20px; /* Add margin to push button below navbar */
    width: 50%; /* Make button full width */
    margin-left:80px;
  }
}
