<!DOCTYPE html>
<html>
  <head>
    <title>No File Selected</title>
    <link rel="stylesheet" type="text/css" href="static/not-selected-styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
  </head>
  <body>
  {% if wrong == "wrong" %}
   <div class="container">
      <h1>You've selected a wrong file.</h1>
      <p>Or our robot slaves seems to think so.</p>
      <button onclick="goBack()">Try again</button>
    </div>
   {% elif redirect_from == 'see_post' %}
     <div class="container">
      <h1>Ooops, looks like you haven't wrote anything  on this topic</h1>
      <p>Not sure how it got here though.</p>
      <button onclick="goBack()">Try again</button>
    </div>
    {% else %}
    <div class="container">
      <h1>No File Selected</h1>
      <p>Please select a file to upload.</p>
      <button onclick="goBack()">Go Back</button>
    </div>
    {% endif %}
    <script>
      function goBack() {
        window.history.back();
      }
    </script>
  </body>
</html>
