<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/511589a382.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/login-form/fonts/icomoon/style.css">

    <link rel="stylesheet" href="/login-form/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/login-form/css/bootstrap.min.css">
    
    <!-- Style -->
    <link rel="stylesheet" href="/login-form/css/style.css">

    <title>Sign Up</title>
  </head>
  <body>
  

  
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="/login-form/images/undraw_remotely_2j6y.svg" alt="Image" class="img-fluid">
        </div>
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="mb-4">
              <h3>Sign Up</h3>
              <p class="mb-4">Lorem ipsum dolor sit amet elit. Sapiente sit aut eos consectetur adipisicing.</p>
            </div>
            <form action="#" method="post">
              <div class="form-group last mb-4">
                <label for="password">E-mail Adress</label>
                <input type="text" class="form-control" id="password">

              </div>
              <div class="form-group first">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username">

              </div>
              <div class="form-group last mb-4">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password">
                
              </div>

              <input type="submit" value="Sign Up" class="btn btn-block btn-primary">

              <span class="d-block text-left my-4 text-muted">&mdash; or sign up with &mdash;</span>
              
              <div class="social-login">
              <a href="#" class="twitter">
              <span> <i class="fab fa-twitter"></i></span>
              </a>
              <a href="#" class="google">
              <span class="fa fa-google mr-3"></span>
              </a>
              </div>
            </form>
            </div>
          </div>
          
        </div>
        
      </div>
    </div>
  </div>

  
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
