<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/upload.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <title>Choosing Destiny|Ponder</title>
    <link rel="icon" type="image/x-icon" href="static/favicon-32x32.png">
    <!---- Font Awesome ----->
    <script src="https://kit.fontawesome.com/511589a382.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <!-------NavBar ----->
    <div class="container">
      <nav class="navbar navbar-expand-md navbar-light bg-white fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{url_for('home')}}">
          <img src="/static/android-chrome-192x192.png" alt="" width="50" height="44" class="d-inline-block align-text-top">Ponder
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
              <li class="nav-item {% if request.path == url_for('home') %}active{% endif %}">
                <a class="nav-link" aria-current="page" href="{{url_for('home')}}">Home</a>
              </li>
              <li class="nav-item {% if request.path == url_for('log_out') %}active{% endif %}">
                <a class="nav-link" href="#">Log out</a>
              </li>
              <li class="nav-item {% if request.path == url_for('dashboard') %}active{% endif %}">
                <a class="nav-link" href="{{url_for('dashboard')}}">Dashboard</a>
              </li>
              <li class="nav-item {% if request.path == url_for('account',user_id=current_user.id) %}active{% endif %}">
                <a class="nav-link" href="{{url_for('account',redirect_from='index',user_id=current_user.id)}}">Account</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <!---- Main Content ---->
    {% if quote_not_found %}
    <div class="aler alert-warning alert-dismissible fade show" role="alert">
      You should write your quote before heading to the dashboard.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %}
    <div class="container">
      <div class="row" id="row1">
        <div class="col-md-6">
          <h1 class="big-heading"> Which Type are you?</h1>
        </div>
      </div>
    </div>
    <div class="container px-4 py-5" id="featured-3">
      <div class="row" id="explain-div">
        <div class="feature col-6" id="col1">
          <div class="feature-icon bg-success bg-gradient">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="CurrentColor" class="bi bi-laptop-fill" viewBox="0 0 16 16">
              <path d="M2.5 2A1.5 1.5 0 0 0 1 3.5V12h14V3.5A1.5 1.5 0 0 0 13.5 2h-11zM0 12.5h16a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 12.5z"/>
            </svg>
          </div>
          <h2>Tech Reader.</h2>
          <ul>
            <li>Connect Your Kindle Quotes automatically.</li>
            <li>Use Ponder as a digital storage of quotes.</li>
            <li>Write about your quotes in your digital journal.</li>
          </ul>
          <a href="{{url_for('upload')}}" class="icon-link">
            Get Started Now
            <svg class="bi" width="1em" height="1em">
              <use xlink:href="#chevron-right"></use>
            </svg>
          </a>
        </div>
        <div class="feature col-6" id="col2">
          <div class="feature-icon bg-primary bg-gradient">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="CurrentColor" class="bi bi-bookmark-check-fill" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zm8.854-9.646a.5.5 0 0 0-.708-.708L7.5 7.793 6.354 6.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
            </svg>
          </div>
          <h2>Paper Reader</h2>
          <ul>
            <li>Write Books, Authors or Quotes you like and store them here!</li>
            <li>Use them as a digital journal or tweet them out!</li>
          </ul>
          <a href="{{url_for('search_page')}}" class="icon-link">
            Get Started Now
            <svg class="bi" width="1em" height="1em">
              <use xlink:href="#chevron-right"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </body>
  <footer class="footer-16371">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-9 text-center">
          <div class="footer-site-logo mb-4">
            <a href="{{url_for('home')}}">Ponder</a>
          </div>
          <ul class="list-unstyled nav-links mb-5">
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a></li>
          </ul>
          <div class="social mb-4">
            <h3>Stay in touch</h3>
            <ul class="list-unstyled">
              <li class="in"><a href="#"><i class="bi bi-instagram"></i></a></li>
              <li class="fb"><a href="#"><i class="bi bi-facebook"></i></a></li>
              <li class="tw"><a href="#"><i class="bi bi-twitter"></i></a></li>
              <li class="dr"><a href="#"><i class="bi bi-dribbble"></i></a></li>
            </ul>
          </div>
          <div class="copyright">
            <p class="mb-0"><small>&copy; Ponder. All Rights Reserved.</small></p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</html>
