<!doctype html>
{% extends "base.html" %}
  {% block head %}
   {{ super() }}
<link rel="stylesheet" type="text/css" href="/static/about-styles.css">
<title> About | Ponder</title>
  {% endblock %}

 <body>
 {% block content %}
   <!-------NavBar ----->
    {% if current_user.is_authenticated %}
    <div class="container">
      <nav class="navbar navbar-expand-md navbar-light bg-white fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{url_for('home')}}">
          <img id="ponder-img"  src="/static/android-chrome-192x192.png" alt="" width="50" height="44" class="d-inline-block align-text-top">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
              <li class="nav-item {% if request.path == url_for('my_ponder_selections') %}active{% endif %}">
                <a class="nav-link" href="{{url_for('my_ponder_selections')}}">My Ponder</a>
              </li>
              <li class="nav-item {% if request.path == url_for('dashboard') %}active{% endif %}">
                <a class="nav-link" href="{{url_for('dashboard')}}">Dashboard</a>
              </li>
              <li class="nav-item {% if request.path == url_for('search_page',user_id=current_user.id) %}active{% endif %}">
                <a class="nav-link" href="{{url_for('search_page')}}">Paper Reader</a>
              </li>
              <li class="nav-item {% if request.path == url_for('account',user_id=current_user.id) %}active{% endif %}">
                <a class="nav-link" href="{{url_for('account',user_id=current_user.id)}}">Account</a>
              </li>

            </ul>
          </div>
        </div>
      </nav>
    </div>
    {% else %}
    <div class="container">
      <nav class="navbar navbar-expand-md navbar-light bg-white fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{url_for('home')}}">
          <img id="ponder-img"  src="/static/android-chrome-192x192.png" alt="" width="50" height="44" class="d-inline-block align-text-top">Ponder
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
              <li class="nav-item {% if request.path == url_for('home') %}active{% endif %}">
                <a class="nav-link" href="{{url_for('home')}}">Home</a>
              </li>
              <li class="nav-item {% if request.path == url_for('log_in') %}active{% endif %}">
                <a class="nav-link" href="{{url_for('log_in')}}">Log in</a>
              </li>
              <li class="nav-item {% if request.path == url_for('register') %}active{% endif %}">
                <a class="nav-link" href="{{url_for('register')}}">Register</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    {% endif %}
    <!-- Front Page -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<section id="about-section" class="pt-5 pb-5">
    <div class="container wrapabout">
        <div class="red"></div>
        <div class="row">
            <div class="col-lg-6 align-items-center justify-content-left d-flex mb-5 mb-lg-0">
                <div class="blockabout">
                    <div class="blockabout-inner text-center text-sm-start">
                        <div class="title-big pb-3 mb-3">
                            <h3>ABOUT ME</h3>
                        </div>
                        <p class="description-p text-muted pe-0 pe-lg-0">I am the sole contributor of this project. My name is Alex, and I am an aspiring software engineer with a great interest in reading and this is the project that I wish existed before learning to code.
                        Eventually I thought it would be a good idea to make it myself. It is powered by Bootstrap, Python 3, Flask, and SQLite, dozens of APIs and of course, coffee.</p>
                        <p class="description-p text-muted pe-0 pe-lg-0">For questions about the project, find me on the interwebs here:</p>
                        <div class="sosmed-horizontal pt-3 pb-3">
                            <a href="https://github.com/walkingkindle"><i class="fa fa-github"></i></a>
                        </div>
                        <a href="{{url_for('contact')}}" class="btn btn-lg btn-outline-primary" id="contact-button">Contact</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mt-5 mt-lg-0">
                <figure class="potoaboutwrap">
                    <img id="alex-img" src="/static/files/about-img.jpg" alt="photoabout" />
                </figure>
            </div>
        </div>
    </div>
</section>


</body>
{% endblock %}
{% block footer %}
{{ super() }}

</html>
{% endblock %}