<!doctype html>
<html lang="en">
{% extends 'base.html' %}
{% block head %}
 {{ super() }}
    <link rel="stylesheet" type="text/css" href="/static/account-info-styles.css">
    <title>Your Account Info| Ponder</title>
    <script src="https://kit.fontawesome.com/511589a382.js" crossorigin="anonymous"></script>
        <!------------------- Sweet Alert -------------------->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}
{% block content %}
  <body>
    <!-------NavBar ----->
    <div class="container" id="nav-bar">
      <nav class="navbar navbar-expand-md navbar-light bg-white fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{url_for('home')}}">
          <img id="ponder-img"  src="/static/android-chrome-192x192.png" alt="" width="50" height="44" class="d-inline-block align-text-top">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
              <li class="nav-item {% if request.path == url_for('dashboard') %}active{% endif %}">
                <a class="nav-link" href="{{url_for('dashboard',redirect_from='home')}}">Dashboard</a>
              </li>
              <li class="nav-item {% if request.path == url_for('log_out') %}active{% endif %}">
                <a class="nav-link" href="{{url_for('log_out')}}">Log out</a>
              </li>
              <li class="nav-item {% if request.path == url_for('delete_user') %}active{% endif %}">
                <a class="nav-link" href="{{ url_for('delete_user') }}">Delete Account</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <script>
         var popupShown = localStorage.getItem("popupShownaccount");
         if (!popupShown) {
         Swal.fire({
         title: "Your Account",
         text: "This is your account information. Adjust settings and press 'save changes' to apply all changes. Keep in mind that the app supports only small images, and up to 800kb.",
         icon: "info",
         confirmButtonText: "OK"
       });
       localStorage.setItem("popupShownaccount", true);
    }
    </script>
    <!------- Account information ------------>
   <div class="container light-style flex-grow-1 container-p-y" id="info-container">

    <h4 class="font-weight-bold py-3 mb-4 text-center">
      Account settings
    </h4>
    <form action="{{ url_for('account',user_id=user.id) }}" method="post" enctype="multipart/form-data">
    <div class="card overflow-hidden">
      <div class="row no-gutters row-bordered row-border-light">
        <div class="col-md-3 pt-0">
          <div class="list-group list-group-flush account-settings-links">
            <a class="list-group-item list-group-item-action active" data-toggle="list" href="#account-general">General</a>
          </div>
        </div>
        <div class="col-md-9">
          <div class="tab-content">
            <div class="tab-pane fade active show" id="account-general">

              <div class="card-body media align-items-center">
                {% if user.photo == None %}
                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="d-block ui-w-80">
                {% else %}
                <img src="{{ img_path }}" alt="" class="d-block ui-w-80">
                {% endif %}
                <div class="media-body ml-4">
                  <label class="btn btn-outline-primary" id="upload-button">
                    Upload new photo
                    <input name="photo" type="file" class="account-settings-fileinput">
                  </label> &nbsp;
                  <a type="button" class="btn btn-default md-btn-flat" id="reset-button" href="{{ url_for('reset_photo',user_id=user.id) }}">Reset</a>

                  <div class="text-light small mt-1">Allowed JPG, GIF or PNG. Max size of 800K</div>
                </div>
              </div>
              <hr class="border-light m-0">

              <div class="card-body">
                <div class="form-group">
                  <label class="form-label">Username</label>
                  <input type="text" name="username" class="form-control mb-1" value="{{ user.username }}">
                </div>
                <div class="form-group">
                  <label class="form-label">Name</label>
                  <input name="name" type="text" class="form-control" value="{{ user.first_name }}">
                </div>
                <div class="form-group">
                  <label class="form-label">E-mail</label>
                  <input name="email" type="text" class="form-control mb-1" value="{{ user.email }}" readonly title="Sorry, you cannot change your Ponder e-mail at this time">
                  {% if user.confirmed == None %}
                  <div class="alert alert-warning mt-3">
                    Your email is not confirmed. Please check your inbox.<br>
                    <a href="javascript:void(0)">Resend confirmation</a>
                  </div>
                  {% endif %}
                </div>
                <div class="form-group">
                  <label class="form-label">Continent</label>
                  <input name="continent" type="text" class="form-control" value="{{ user.continent }}">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-right mt-3">
      <button  type="submit" class="btn btn-primary" id="upload-button">Save changes</button>&nbsp;
      <button type="button" class="btn btn-default" onclick="history.back()">Cancel</button>
    </div>
  </form>
  </div>
  </body>
<footer>
{% endblock %}
{% block footer %}
  {{ super() }}

{% endblock %}
 </footer>
  <!-- Link to Bootstrap JS -->
  <script src="/static/jquery-3.2.1.min.js"></script>
  <script src="/static/popper.js"></script>
  <script src="/static/bootstrap.min.js"></script>
  <script src="/static/main.js"></script>
  <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>
