<!DOCTYPE html>
<html lang="en">
{% import "bootstrap/wtf.html" as wtf %}
{% extends 'base.html' %}
  {% block head %}
   {{ super() }}
    <link rel="stylesheet" type="text/css" href="/static/reset-password-styles.css">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <title>Reset Password | Ponder</title>
    <script src="https://kit.fontawesome.com/511589a382.js" crossorigin="anonymous"></script>
{% endblock %}
{% block content %}
<body>
 <div class="container">
      <div class="row row-cols-12">
        <nav class="navbar navbar-expand-md navbar-light bg-white fixed-top justify-content-center">
        <div class="col-5">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
              <li class="nav-item {% if request.path == url_for('home') %}active{% endif %}">
                <a class="nav-link" href="{{url_for('home')}}">Home</a>
              <li class="nav-item {% if request.path == url_for('about') %}active{% endif %}">
                <a class="nav-link" href="{{url_for('about')}}">About</a>
              </li>
            </ul>
            </div>
          </div>

        <div class="col mx-auto">
          <div class="ponder-logo-div">
          <a class="navbar-brand mx-auto" href="{{url_for('home')}}" id="ponder-logo">
          <img id="ponder-img"  src="/static/android-chrome-192x192.png" alt="" width="50" height="44" class="d-inline-block align-text-top">Ponder
          </a>
        </div>
        </div>
          <div class="col mr-auto col-sm-1">

          </div>
        </nav>
      </div>
      </div>
 <!-------------------------- Main Part of the page --------------------->
<div class="container mt-6 text-center justify-content-center" id="main-container">
  <div class="row justify-content-center">
    <div class="col-12 justify-content-center">
  {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "outline-primary btn btn-block btn-lg",id_:"button"})}}
      </div>
    </div>
  </div>
</body>
{% endblock %}
  <footer class="footer-16371">
  </footer>
  <script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>
  <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
</html>