<!--Main Navigation-->
<!DOCTYPE html>
<html lang="en">
    {% extends 'base.html' %}
    {% block head %}
      {{ super() }}

    <link rel="stylesheet" type="text/css" href="/static/see-post-styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <!----<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> --->
    <title>{{post.user_quote}}</title>
    <script src="https://kit.fontawesome.com/511589a382.js" crossorigin="anonymous"></script>
                <!------------------- Sweet Alert -------------------->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}
<!------------------- Main Content --------------->
{% block content %}
  <div class="container">
    <nav class="navbar navbar-expand-md navbar-light bg-white fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{url_for('home')}}">
        <img src="/static/android-chrome-192x192.png" alt="" width="50" height="44" class="d-inline-block align-text-top">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
            <li class="nav-item {% if request.path == url_for('home') %}active{% endif %}">
              <a class="nav-link" aria-current="page" href="{{url_for('home')}}">Home</a>
            </li>
            <li class="nav-item {% if request.path == url_for('dashboard') %}active{% endif %}">
              <a class="nav-link" href="{{url_for('dashboard')}}">Dashboard</a>
            </li>
            <li class="nav-item {% if request.path == url_for('account',user_id=current_user.id) %}active{% endif %}">
              <a class="nav-link" href="{{url_for('account',redirect_from='dashboard',user_id=current_user.id)}}">Account</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <!-- Jumbotron -->
  <div id="intro" class="p-5 text-center bg-light">
    <h1 class="mb-0 h4"> Your Post:</h1>
    <div class="text-center post-title-anchor">
      <div class="post-title-anchor">{{post.user_quote}}</div>
    </div>
  </div>
  <!-- Jumbotron -->
  <!--Main Navigation-->
  <section class="vh-60" style="
  background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-9 col-xl-7">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <div class="text-center mb-1 pb-2">
                <img  src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-quotes/bulb.webp"
                  alt="Bulb" width="100">
              </div>
              <figure class="text-center mb-0">
                <blockquote class="blockquote">
                  <p class="pb-3">
                    <i class="fas fa-quote-left fa-xs text-primary"></i>
                    <span class="lead font-italic">
                  <div style="height: 200px; overflow-y: scroll;">
                  {{ post.quote|safe }}
                  </div>
                  </span>
                  <i class="fas fa-quote-right fa-xs text-primary"></i>
                  </p>
                </blockquote>
                <figcaption class="blockquote-footer mb-0">
                  {{ post.quote_author }}
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Main layout-->
<main class="mt-4 mb-5" id="main-div">
  <div class="container">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-md-8 mb-4" id="main-div">
        <!--Section: Post data-mdb-->
        <section id="img-section" class="border-bottom mb-4">
          {% if post.photo %}
          <img id="main-img" src="{{ post.photo }}" class="img-fluid shadow-2-strong rounded-5 mb-4" alt="" />
          {% else %}
          <img style="display: none;" id="main-img" src="https://mdbootstrap.com/img/Photos/Slides/img%20(144).jpg" class="img-fluid shadow-2-strong rounded-5 mb-4" alt="" />
          {% endif %}
          <div class="row align-items-center mb-4">
            <div style="display:flex;" class="col-lg-12  justify-content-center text-center text-lg-start mb-3 m-lg-0">
              <span> Published <u>{{post.date}}</u> by</span>
              <a href="" class="text-dark">{{current_user.username}}</a>
            </div>
          </div>
          </section>
         </div>
    </div>
    <div class="container {% if post.body|length < 5 %}justify-content-center{%endif%}" id="text-box">
      <div class="row">
        <div class="col">
          <p>{{ post.body|safe }}</p>
        </div>
      </div>
    </div>
  </div>
        <!--Section: Text-->
        <script>
          function deletePost(postId) {
            Swal.fire({
              title: 'Are you sure?',
              text: "You won't be able to revert this!",
              icon: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
              if (result.isConfirmed) {
                // Redirect to the delete route with the post ID
                window.location.href = `/delete-post/${postId}`;
              }
            });
          }
        </script>
          <div class="container" id="buttons">
                <div class="row justify-content-center">
                <div class="col-12 justify-content-center">
                  <div class="small-line"></div>
                </div>
                </div>
                <div class=" row justify-content-center">
                <div class="col-md-4 col-sm-6 justify-content-center" id="buttons-div">
                <a class="btn btn-btn-primary btn-outline-dark btn-lg" href="{{ url_for('edit_post',post_id=post.id,is_edit=True) }}" id="edit-button">Edit Post</a>
                </div>
                <div class="col-md-4 col-sm-6 mt-2 mt-sm-0 justify-content-center" id="buttons-div">
                <a class="btn btn-btn-primary btn-outline-danger btn-lg" href="#" onclick="deletePost({{ post.id }})" id="delete-button">Delete Post</a>
                </div>
              </div>
          </div>
</main>

<style>
  /* CSS for small screens */
  @media (max-width: 576px) {
    #main-div {
      margin-left: 0;
    }
  }
</style>
{% endblock %}

{% block footer %}
   {{ super() }}
{% endblock %}

  <script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
  <script src="/static/tilt.jquery.min.js"></script>
  <script src="/static/popper.js"></script>
  <script src="/static/bootstrap.min.js"></script>
  <script src="/static/main.js"></script>
  <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
</html>
